#landingpage.lp{
    .blockMargin{
        margin: 65px auto 0;
    }

    .sectionMargin{
        padding: 200px 0;
    }
}

// mobile
@media only screen and (max-width: 750px){
    .mobile #landingpage.lp,
    .mobileapp #landingpage.lp{
        .sectionMargin{
            padding: 100px 0;
        }
    }
}

@media only screen and (max-width: 700px){
    .mobile #landingpage.lp,
    .mobileapp #landingpage.lp{
        .blockMargin{
            margin: 45px auto 0;
        }
    }
}