#landingpage{
    .addPolygon{
        background-color: color(lp, lighten);
        clip-path: polygon(0 0,100% 4%,100% 100%,0 97%);
        overflow: visible;
    }
}

// mobile
@media only screen and (max-width: 980px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .addPolygon{
            clip-path: polygon(0 0,100% 3%,100% 100%,0 98%);
        }
    }
}

