#landingpage{
    .addPolygon{
        &--top,
        &--bottom{
            background-color: color(lp, lighten);
            position: absolute;
            width: 100%;
            height: 100px;
            left: 0;
        }

        &--top{
            clip-path: polygon(0 0,100% 60%,100% 100%,0 100%);
            top: 0;
            transform: translateY(-100%);
        }

        &--bottom{
            clip-path: polygon(0 0,100% 0,100% 100%,0 30%);
            bottom: 0;
            transform: translateY(100%);
        }
    }
}

