#landingpage{
    .lpAction{
        .lpBox{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__contentWrapper{
                img{
                    border-radius: 20px;
                }
    
                .hdl4{
                    min-height: 60px;
                    margin: 0 auto 30px;
                }
    
                .body-2{
                    margin: 20px auto 0;
                }
            }
        }
    }
}

// media
@media only screen and (max-width: 650px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpAction{
            .lpBox{
                &__contentWrapper{
                    .hdl4{
                        min-height: auto;
                        margin: 0 auto 20px;
                    }
                }
            }
        }
    }
}