#landingpage{
    .lpContent{
        display: none;
    }

    .lpContent--visible{
        opacity: 0;
        display: block;
        animation: show .5s ease-in forwards;
    }

    @keyframes show {
        from {
          transform: translateY(15px);
          opacity: 0;
        }
        
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
}