#landingpage.lp{
    .lpDays{
        position: relative;
        z-index: 80;

        .react-carousel.blockMargin{
            margin: 65px auto 50px;
        }

        &__imageWrapper{
            opacity: 0;
            position: absolute;
            left: 60px;
            top: 0;
        }

        &__image{
            animation: float 6s ease-in-out infinite;
        }

        &__alzak{
            border-radius: 4px;
            opacity: 0;
        }

        .btn{
            margin: 30px auto 0;
        }
    }

    .lpDays__imageWrapper.runAnimation--active{
        animation: pop .33s ease-in forwards;
    }

    .lpDays__alzak.runAnimation--active{
        animation: pop .33s ease-in forwards;
    }
}

// media
@media only screen and (max-width: 750px){
    .mobile #landingpage.lp,
    .mobileapp #landingpage.lp{
        .lpDays{
            &__badge{
                position: relative;
                left: auto;
                top: auto;
                margin: 0 auto 40px;
            }
        }
    }
}