#landingpage.lp{
    .lpDays{
        position: relative;
        z-index: 80;

        .react-carousel.blockMargin{
            margin: 65px auto 50px;
        }

        &__image{
            position: absolute;
            left: 60px;
            top: 0;
            animation: float 6s ease-in-out infinite;
        }

        &__alzak{
            border-radius: 4px;
            opacity: 0;
            animation: pop .33s ease-in forwards;
        }

        .btn{
            margin: 30px auto 0;
        }
    }
}

// media
@media only screen and (max-width: 750px){
    .mobile #landingpage.lp,
    .mobileapp #landingpage.lp{
        .lpDays{
            &__badge{
                position: relative;
                left: auto;
                top: auto;
                margin: 0 auto 40px;
            }
        }
    }
}