#landingpage{
    .lpProgram{
        background-color: color(lp, lighten);
        padding: 50px 0;

        &__image{
            position: absolute;
            top: -8%;
            left: 60px;
        }

        .lpGuest{
            &__box{
                img{
                    margin: 0 auto;
                }

                .lpBoxText{
                    margin-top: 20px;

                    .perex:last-of-type{
                        margin: 30px auto 0;
                    }
                }
            }
        }
    }
}