#landingpage{
    .lpProgram{
        background-color: color(lp, lighten);
        padding: 50px 0;
        z-index: 5;

        &__imageWrapper{
            opacity: 0;
            position: absolute;
            top: -8%;
            left: 60px;
        }

        &__image{
            animation: float 6s ease-in-out infinite;
        }

        .lpGuests{
            &__box{
                opacity: 0;

                img{
                    margin: 0 auto;
                }

                .lpBoxText{
                    margin-top: 20px;

                    .perex:last-of-type{
                        margin: 30px auto 0;
                    }
                }
            }
        }
    }

    .lpProgram__imageWrapper.runAnimation--active{
        animation: pop .4s ease-in forwards;
    }

    .lpProgram .lpGuests.runAnimation--active{
        .lpGuests__box{
            &:nth-of-type(1){
                animation: pop .4s ease-in forwards;
            }

            &:nth-of-type(2){
                animation: pop .4s .2s ease-in forwards;
            }
        }
    }
}

// media
@media only screen and (max-width: 750px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpProgram{
            padding: 0;

            &__image{
                margin: 0 auto;
            }

            &__imageWrapper{
                position: relative;
                margin: 0 auto 40px;
                top: auto;
                left: auto;
            }
        }
    }
}