#landingpage{
    .lpShowroom{
        background-color: color(lp, lighten);
        position: relative;
        z-index: 90;

        &__badge{
            position: absolute;
            top: -12%;
            left: 5%;
            z-index: 91;
        }
    }
}