#landingpage{
    .lpBoxText{
        .perex{
            &:first-of-type{
                color: color(lp, yellow);
                text-transform: uppercase;
                font-weight: 700;
                margin-top: 5px;
            }

            &:last-of-type{
                font-size: 18px;
                line-height: 30px;
                margin-top: 30px;
            }
        }
    }
}