#landingpage{
    .lpBoxes{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        align-items: stretch;
        margin: 30px auto 0;

        .lpBox{
            padding-bottom: 30px;
            border-radius: 20px;
            overflow: hidden;

            &__contentWrapper{
                &--image{
                    margin: 0 auto 30px;
                    width: 100%;
                }
            }
        }
    }
}

// media
@media only screen and (max-width: 850px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpBoxes{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media only screen and (max-width: 650px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpBoxes{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media only screen and (max-width: 450px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpBoxes{
            grid-template-columns: 1fr;
        }
    }
}