#landingpage.lp{
    .lpInvite{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        picture{
            flex: 1;

            img{
                animation: float 6s ease-in-out infinite;
            }
        }

        &__imageWrapper{
            opacity: 0;
        }

        &__textWrapper{
            text-align: left;
            flex: 2;
            margin-left: 40px;
        }
    }

    .lpInvite__imageWrapper.runAnimation--active{
        animation: pop .33s ease-in forwards;
    }
}

// mobile
@media only screen and (max-width: 750px){
    .mobile #landingpage.lp,
    .mobileapp #landingpage.lp{
        .lpInvite{
            display: block;
    
            picture{
                width: 100%;
                
                img{
                    margin: 0 auto;
                }
            }
    
            &__textWrapper{
                margin-top: 30px;
                margin-left: 0;
            }
        }
    }
}