#landingpage{
    .lpInvite{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;

        picture{
            flex: 1;
        }

        &__textWrapper{
            text-align: left;
            flex: 2;
            margin-left: 40px;
        }
    }
}

// mobile
@media only screen and (max-width: 750px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpInvite{
            display: block;
    
            picture{
                width: 100%;
                
                img{
                    margin: 0 auto;
                }
            }
    
            &__textWrapper{
                margin-top: 30px;
                margin-left: 0;
            }
        }
    }
}