#landingpage.lp{
    .lpKits{
        &__box{
            opacity: 0;

            &:hover{
                figure img{
                    transform: scale(1.1);
                }

                .perex{
                    color: color(lp, yellow);
                }
            }

            figure{
                margin: 0 auto;
                background-color: color(lp, dark);
                padding: 20px;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1/1;

                picture{
                    aspect-ratio: 1/1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-height: 280px;
                    height: 100%;
                }
                
                img{
                    transition: .3s ease-in-out;
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            .perex{
                font-weight: 700;
                margin-top: 30px;
                transition: .3s ease-in-out;
            }
        }
    }

    .lpKits.runAnimation--active .lpKits__box{
        &:nth-of-type(1){
            animation: slide-down .4s ease-in forwards;
        }

        &:nth-of-type(2){
            animation: slide-down-kit-2 .4s ease-in forwards;
        }

        &:nth-of-type(3){
            animation: slide-down-kit-3 .4s ease-in forwards;
        }

        &:nth-of-type(4){
            animation: slide-down .4s ease-in forwards;
        }
    }

    .lpKits.blockMargin{
        margin: 140px auto 0;
    }
}

// mobile
@media only screen and (max-width: 980px){
    .mobile #landingpage.lp,
    .mobileapp #landingpage.lp{
        .lpKits{
            &__box{
                &:nth-of-type(2){
                    transform: translateY(0) !important;
                }
    
                &:nth-of-type(3){
                    transform: translateY(0) !important;
                }
            }
        }

        .lpKits.blockMargin{
            margin: 65px auto 0;       
        }
    }
}