#landingpage.lp{
    .lpUsp{
        &__box{
            svg{
                width: 64px;
                height: 64px;
                margin: 0 auto;
            }

            .hdl4{
                margin-top: 10px;
            }

            .perex{
                margin-top: 20px;
            }
        }
    }
}